/* Blog posts */
.post {
  padding:50px;
}
.post h1 {
  margin-bottom:20px;
  font-family:'Domine', sans-serif;
  font-weight:700;
  font-size:2.5rem;
}
.post header p {
  margin-bottom:20px;
  color:#6C91C2;
}
.post header p a[rel="author"] {
  color:inherit;
  text-decoration: none;
  border-bottom:1px dotted;
}
.post h1 a {
  color:#373F47;
  text-decoration: none;
  border-bottom:2px solid #AAABBC;
  @include transition(.2s);
}
.post h1 a:hover {
  color:#3097d1;
  border-bottom:3px solid #AAABBC;
}
.post > p {
  line-height:1.8rem;
}
.post > p img {
  max-width:100%;
}
blockquote {
  border-left:4px solid #eee;
  padding-left:20px;
  margin:30px;
  font-style:italic;
}
iframe {
  max-width:100%;
}
.post ol, .post ul {
  margin:20px 0;
}
.post > h1, .post > h2, .post > h3, .post > h4, .post > h5, .post > h6 {
  margin:10px 0;
}
/* Comments */
#disqus_thread {
  margin:20px 0px;
}

/* Next post preview */
#next_post {
  text-align:center;
  padding:0px 0px 20px 0px;
}
#next_post a {
  text-decoration:none;
}
#next_post a h2, #next_post a p, #next_post a span {
  color:#373a3c;
}
#next_post a h2 {
  font-weight:700;
}
#next_post a span {
  padding:5px 10px;
  margin: 20px;
  display:inline-block;
  border-radius:10px;
  font-size:0.8rem;
  color: rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.2);
  @include transition(.2s);
}
#next_post a p {
  font-weight:400;
  color: rgba(0,0,0,0.5);
}
#next_post a:hover span {
  color: rgba(0,0,0,0.6);
  border: 1px solid rgba(0,0,0,0.4);
}

/* Pagination next/prev buttons */
.pager-next a, .pager-prev a {
  border: 1px solid transparent !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

code {
  display:block;
}

.card {
  border-color: #AAABBC;
  border-radius: 5px;
}

.card-title {
  color: #6C91C2;
}


